<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>GraphQL Demo</title>
  
  <!-- CSS (load bootstrap from a CDN) -->
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <style>
      body { padding-top:50px; }
  </style>
</head>
  <body class="container">
    <h2>GraphQL Demo</h2>
    <div class="col-xs-4">
      <a class="btn btn-info" role="button" href="/graphql/posts">Check out GraphQL request!</a>
    </div>
    <div class="col-xs-4">
        <a class="btn btn-info" role="button" href="/posts">Check out normal request!</a>
      </div>
    <div class="col-xs-4">
      <a class="btn btn-info" role="button" href="/playground">Check out playground!</a>
    </div>
  </body>
</html>